<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8"/>
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <title>{% block title %}Invoice App - Interface 0.1{% endblock %}</title>

      <link rel="stylesheet" href="vendor/foundation.min.css"/>
      <link rel="stylesheet" href="styles/custom-styles.css"/>
      <script src="https://use.typekit.net/ioh1apd.js"></script>
      <script>try{Typekit.load({ async: true });}catch(e){}</script>
      {# <link href="https://fonts.googleapis.com/css?family=Quicksand|Roboto+Condensed" rel="stylesheet"> #}
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body class="{% block body_class %}{% endblock %}">
    {% block data %}{% endblock %}
    <header class="header">
      <h1>Network of Innovators</h1>
    </header>
    <main class="app-wrapper">
      <div class="main-nav">
        <a class="main-nav__item main-nav__item--active" title="Ask a Question"><i class="material-icons">chat</i></a>
        <a class="main-nav__item" title="Find Innovators"><i class="material-icons">search</i></a>
        <a class="main-nav__item" title="Discuss"><i class="material-icons">forum</i></a>
        <a class="main-nav__item" title="Match Me"><i class="material-icons">people</i></a>
        <a class="main-nav__item js-open-panel" title="Open Panel"><i class="material-icons">arrow_forward</i></a>
      </div>
      <div class="panel panel--1">
        <div class="panel__content">
          <h1>1</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque voluptatum, excepturi assumenda accusantium dolore quas aut fugit quibusdam odit sunt adipisci hic beatae distinctio? Tenetur, harum? Nihil commodi, culpa soluta.</p>
          <p><a class="js-open-panel-2"><i class="material-icons">arrow_forward</i></a></p>
          <a class="js-close-panel-1"><i class="material-icons">arrow_back</i></a>
        </div>
      </div>
      <div class="panel panel--2">
        <div class="panel__content">
          <h1>2</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque voluptatum, excepturi assumenda accusantium dolore quas aut fugit quibusdam odit sunt adipisci hic beatae distinctio? Tenetur, harum? Nihil commodi, culpa soluta.</p>
          <p><a class="js-open-panel-3"><i class="material-icons">arrow_forward</i></a></p>
          <a class="js-close-panel-2"><i class="material-icons">arrow_back</i></a>
        </div>
      </div>
      <div class="panel panel--3">
        <div class="panel__content">
          <h1>3</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque voluptatum, excepturi assumenda accusantium dolore quas aut fugit quibusdam odit sunt adipisci hic beatae distinctio? Tenetur, harum? Nihil commodi, culpa soluta.</p>
          <a class="js-close-panel-3"><i class="material-icons">arrow_back</i></a>
        </div>
      </div>

      <div class="main-content">
        <div class="main-content__container">
          {% for i in range(20) %}
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque voluptatum, excepturi assumenda accusantium dolore quas aut fugit quibusdam odit sunt adipisci hic beatae distinctio? Tenetur, harum? Nihil commodi, culpa soluta.</p>
          {% endfor %}
        </div>
      </div>
    {% block content %}{% endblock %}
  </main>
    <div id="overlay" class="js-overlay"></div>
    <script src="./vendor/jquery-2.1.4.min.js"></script>
    <script src="./scripts.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.2.0/list.min.js"></script>
  </body>
</html>
