{% extends '_base.html' %}

{% block content %}
<div class="main-content">



<p><a class="button" href="/">Ask a Question</a></p>
<p><a class="button" href="search.html">Search Innovators</a></p>
<p>
  <a class="button" href="partial-events.html">Profile Events</a>
  <a class="button" href="partial-expertise.html">Profile Expertise</a>
  <a class="button" href="partial-projects.html">Profile Projects</a>
</p>
<p><a class="button" href="partial-signup.html">Signup</a> <a class="button" href="partial-signup-success.html">Signup Success</a></p>
<p><a class="button" href="components-toasts.html">Toast Messages</a></p>





</div>
{% endblock %}