{% extends '_base.html' %}

{% block content %}
<div class="main-content">
  <div class="toast toast--yellow"> {# toast--green, toast--red, toast--gray #}
    <i class="material-icons toast__close">close</i>
    <h4 class="toast__heading">Titles don’t say enough</h4>
    <p class="toast__text">Find experts to contact based on their innovation experience</p>
  </div>
  <br>
  <div class="toast toast--green"> {# toast--green, toast--red, toast--gray #}
    <i class="material-icons toast__close">close</i>
    <h4 class="toast__heading">Titles don’t say enough</h4>
    <p class="toast__text">Find experts to contact based on their innovation experience</p>
  </div>
  <br>
  <div class="toast toast--red"> {# toast--green, toast--red, toast--gray #}
    <i class="material-icons toast__close">close</i>
    <h4 class="toast__heading">Titles don’t say enough</h4>
    <p class="toast__text">Find experts to contact based on their innovation experience</p>
  </div>
  <br>
  <div class="toast toast--gray"> {# toast--green, toast--red, toast--gray #}
    <i class="material-icons toast__close">close</i>
    <h4 class="toast__heading">Titles don’t say enough</h4>
    <p class="toast__text">Find experts to contact based on their innovation experience</p>
  </div>
</div>
{% endblock %}