{% extends 'search.html' %}
{% block content %}

<div class="main-content match-me">
  <h3 class="match-me__intro">Your matches are people who have experience in what you want to learn <br> and have something to learn from you.</h3>
  <div class="steps">
    <span class="steps__item steps--done"></span>
    <span class="steps__item steps--done"></span>
    <span class="steps__item steps--done steps--current"></span>
    <span class="steps__item"></span>
  </div>

  <h4 class="match-me__question-pre">Great! Now tell us how you can be helpful to someone else.</h4>
  
  <h2 class="match-me__question">I have experience & can advise others on</h2>

  <ul class="category-buttons">
    {% for i in categories %}
    <li class="category-buttons__item"><a href="match-me-4.html">{{i}}</a></li>
    {% endfor %}
  </ul>
</div>
{% endblock %}