{% extends 'search.html' %}

{% block panel_2 %}
<div class="project-panel panel panel--2">
  <i class="project-panel__action-button material-icons">close</i>
  <h2 class="project-panel__content project-panel__heading">Projects</h2>
  
  {% for i in range(2) %}
  <div class="project-panel__item">    
    <h3 class="project-panel__title">Los Angeles City Open Data Portal</h3>
    <a class="project-panel__url" href="#" target="_blank">data.la.gov</a>
    <ul class="person-item__tags category-tags category-tags--negative">
      <li class="person-item__tag category-tag">
        <span class="category-tag__main">Open Data</span>
        <span class="category-tag__sub">Implemenation</span>
      </li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio ea repellendus mollitia ipsa dignissimos placeat, quisquam doloremque neque natus numquam sint ab eius maxime similique culpa quis explicabo laboriosam tempora. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates id, nihil voluptatibus voluptatem minus cum incidunt doloribus, officia ad ducimus nobis pariatur ex expedita tempore praesentium saepe consequatur earum molestiae.</p>
  </div>
  {% endfor %}
  <div class="project-panel__add-item">
    <i class="big-icon material-icons">add</i>
    <h4>Add Project</h4>
  </div>
  
</div>
{% endblock %}