{% extends '_base.html' %}
{% block body_class %}homepage{% endblock %}
{% block data %}{% endblock %}


{% block panel_1 %}
<div class="signup-panel panel panel--1 js-active">
  
  <h2 class="signup-panel__heading signup-panel__content">Followup information</h2>
  <p class="signup-panel__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque voluptatum, excepturi assumenda accusantium?</p>
  <form action="" class="form form--negative signup-panel__content signup-panel__form">
    <input type="email" placeholder="Email">
    <input type="password" placeholder="Password">
    <button class="button button--full button--main-color js-open-panel-2" type="submit">Signup</button>
  </form>
  <div class="signup-panel__action signup-panel__content">
    <h4 class="signup-panel__action__title js-open-action-panel">How it works</h4>
    <div class="signup-panel__action__content js-panel-action">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum sed, sunt quisquam, sit aspernatur quam dolor? Nostrum ea recusandae dignissimos aperiam, dolore inventore magnam dolor, natus omnis debitis voluptatem nemo!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum sed, sunt quisquam, sit aspernatur quam dolor? Nostrum ea recusandae dignissimos aperiam, dolore inventore magnam dolor, natus omnis debitis voluptatem nemo!</p>
    </div>
    
  </div>
  {# <p><a class="js-open-panel-2"><i class="material-icons">arrow_forward</i></a></p>
  <a class="js-close-panel-1"><i class="material-icons">arrow_back</i></a> #}
</div>
{% endblock %}