{% extends 'search.html' %}

{% block panel_2 %}
<div class="event-panel panel panel--2 ">
  <i class="event-panel__action-button material-icons">close</i>
  <h2 class="event-panel__content event-panel__heading">Events</h2>
  
  {% for i in range(2) %}
  <div class="event-panel__item">
    <a href="#" target="_blank">
      <img src="images/events/logo-iodc-web.png" alt="Event Name">
    </a>
  </div>
  {% endfor %}
  
  <div class="event-panel__add-item">
    <i class="big-icon material-icons">add</i>
    <h4>Add Event</h4>
  </div>
  
</div>
{% endblock %}